
@{
    ViewBag.Title = "Hakkimizda";
}
<link href="~/Content/Hakkimizda,.css" rel="stylesheet" />


<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div data-slide-no="0" class="item carousel-item active">
            <div class="wrapper">
                <img src="~/Images/biz/A.jpg" class="img-responsive" style="width:100%; height:350px;">
            </div>
        </div>
    </div>
</div>


<br />
<h1 style="text-align:center; font-size:3rem;"> GELİŞTİRİCİLER </h1>
<div style="background-color:#e0d6d6">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card2 hovercard2">
                    <div class="card2header">
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/Images/biz/CanMandracı.jpeg">
                    </div>
                    <div class="info">
                        <div class="title">
                            Can Mandracı
                        </div>
                        <div class="desc">Endüstri Mühendisliği</div>
                        <div class="desc"><h7>AÇIKLAMA</h7></div>
                        <div class="desc">  <p>ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into m</p> </div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card2 hovercard2">
                    <div class="card2header">
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/Images/biz/CemTemurçin.jpeg">
                    </div>
                    <div class="info">
                        <div class="title">
                            Cem Temurçin
                        </div>
                        <div class="desc">Yönetim Bilişim Sistemleri</div>
                        <div class="desc"><h7>AÇIKLAMA</h7></div>
                        <div class="desc">   <p>ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into m</p> </div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card2 hovercard2">
                    <div class="card2header">
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/Images/biz/OrkunDevran.jpeg">
                    </div>
                    <div class="info">
                        <div class="title">
                            Orkun Devran
                        </div>
                        <div class="desc">Endüstri Mühendisliği</div>
                        <div class="desc"><h7>AÇIKLAMA</h7></div>
                        <div class="desc">   <p>ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into m</p> </div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card2 hovercard2">
                    <div class="card2header">
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/Images/biz/SözdarÖzcanan.jpeg">
                    </div>
                    <div class="info">
                        <div class="title">
                            Sözdar Özcanan
                        </div>
                        <div class="desc">Bilgisayar Mühendisliği</div>
                        <div class="desc"><h7>AÇIKLAMA</h7></div>
                        <div class="desc"> <p>ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into m</p> </div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

