
@{
    ViewBag.Title = "Iletisim";
}
<link href="~/Content/Iletisim.css" rel="stylesheet" />
<div class="row" id="contatti">
    <div class="container mt-5">

        <div class="row" style="height:550px;">
            <div class="col-md-6 maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.138299026131!2d29.0046277148271!3d41.04410462516938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a24975fe5d%3A0xa05d7aa13cfcaf89!2sWissen!5e0!3m2!1str!2str!4v1562598884540!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase mt-3 font-weight-bold text-white">İLETİŞİM</h2>
                <form action="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="İsim.." required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Soyisim.." required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control mt-2" placeholder="Email.." required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="number" class="form-control mt-2" placeholder="Telefon.." required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Mesaj Kutusu.." rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Kullanım şartlarını okudum ve kabul ediyorum.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-light" type="submit">Gönder</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

