
@{
    ViewBag.Title = "SSS";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />


<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    Bu bölüm hayvanlar ile ilgili bir çok bilgi içerir.Sorunuza cevap bulamazsanız, bizimle iletişime geçiniz.
    <a href="http://localhost:52433/Iletisim.html">İletişim için</a>
</div>
<br />
<div class="" id="accordion">

    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Sokağımda baktığım sahipsiz köpek/kedi için belediye zabıtasının hayvanlara müdahale etmeye hakkı var mıdır?</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="card-block">
                Ne sokağınızda baktığınız sahipsiz hayvanlar için ne de evinizde baktığınız evcil hayvanlarınız için belediye zabıtasının sizi engellemek ya da hayvanlara müdahale ederek götürmeye yetkisi yoktur. Zabıtanın böyle bir girişimi söz konusu olursa hiç vakit kaybetmeden şikayet edin. Haklarınızı öğrenmeden canlarınızı koruyamazsınız. Detaylı bilgi ve örnek dilekçe için linki tıklayınız. Lütfen dilekçeyi bimer.com sitesinden göndermeye dikkat ediniz. <br />                                                                             <a href="http://www.haykonfed.org/2017/11/21/27-valilik-ve-belediyeye-belediye-zabitasinin-sahipli-sahipsiz-hayvana-mudahalesi-yasaya-aykiridir/">http://www.haykonfed.org/2017/11/21/27-valilik-ve-belediyeye-belediye-zabitasinin-sahipli-sahipsiz-hayvana-mudahalesi-yasaya-aykiridir/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Sokağımda baktığım küpeli ve kısır köpeği belediye götürdü ne yapmalıyım?</a>
            </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
            <div class="card-block">
                Belediyeler 5199 Nolu Hayvan Hakları Kanunu gereği kısırlaştırma, aşılama, bakım ya da tedavi dışında şikayet üzerine hayvan götüremez kanuna aykırıdır ve suç işler. Belediyelerin sahipsiz ve sokakta yaşayan hayvanlara hizmet etmesi, onları kötü muameleden uzak tutması ve topluma hayvana merhamet ve sevgiyi aşılayacak çalışmalar yapması kanunda açıkça tanımlanmış mecburi görevlerinden biridir. Aşılanan, kısırlaşan ya da tedavisi yapılan hayvanın alındığı yere geri bırakılması kanunda esastır. Eğer belediye kanunsuz şekilde sokağınızda yaşayan sahipsiz bir hayvanı götürürse linkteki dilekçeyi durumunuza uyarlayarak bimer.com sitesinden ilgili kurumlara suç işleyen belediye hakkında soruşturma açılması için gönderin.
                <a href="http://www.haykonfed.org/2017/12/30/42-belediyeler-sadece-kisirlastirmak-icin-kedi-kopek-toplar-bunun-disinda-kedi-kopek-toplayamaz/">http://www.haykonfed.org/2017/12/30/42-belediyeler-sadece-kisirlastirmak-icin-kedi-kopek-toplar-bunun-disinda-kedi-kopek-toplayamaz/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Hayvanları istemeyen ve onlara zarar veren kişiler için neler yapabilirim?</a>
            </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
            <div class="card-block">
                Hayvanların Yaşam Hakları Konfederasyonu olarak biz bu konuda insanlarda hayvanlara karşı bilinç uyandıracak ve algı yaratacak, dikkat çekici afişler hazırladık. Tabii bu afişlerin nasıl ve nerelerde kullanılacağı sizlerin onları nereden temin edeceğiniz önemli bir konu. Detaylı bilgi için linki tıklayınız. Lütfen dilekçelerinizi bimer.com adresinden yapmaya dikkat ediniz.
                <a href="http://www.haykonfed.org/2017/11/28/16-yasal-uyarili-brosurlerin-kullanimi-icin-yapilacaklar-ve-brosur-bastirilmasi-icin-ornek-yazi/">http://www.haykonfed.org/2017/11/28/16-yasal-uyarili-brosurlerin-kullanimi-icin-yapilacaklar-ve-brosur-bastirilmasi-icin-ornek-yazi/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Belediyenin verdiği mamaları hayvanlar yemiyor. Rengi ve kokusu da kötü. Neden olabilir?</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="card-block">
                O halde mamalar çok kalitesiz ve hayvanlara zarar verecek kimyasallar içeriyor demektir. Bu durumda mamaların tahlil edilmesi için linkteki dilekçeyi bimer.com adresinden bağlı olduğunuz belediye başkanlığına gönderin.
                <a href="http://www.haykonfed.org/2017/11/24/33-belediye-baskanligina-hayvanlar-icin-kuspe-cop-mama-alinmamasi-ihale-sartnamesine-madde-eklenmesi/">http://www.haykonfed.org/2017/11/24/33-belediye-baskanligina-hayvanlar-icin-kuspe-cop-mama-alinmamasi-ihale-sartnamesine-madde-eklenmesi/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Yaşadığım ilçedeki belediye hayvanlara hizmet etmiyor. Hayvanlar aç, hasta ve insanlardan zarar görüyor. Ne yapmalıyım?</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="card-block">
                Her belediye kendi ilçe sınırları içerisindeki sahipsiz hayvanlara bakmakla yani onları doyurmak, tedavi etmek ve zulümden korumakla görevlidir. Belediyeniz bu konuda görev ihmali yapıyorsa suç işliyor ve kanunu yerine getirmiyor demektir. Bu konuda yapabileceklerinizi linki tıklayarak öğrenebilir hayvanları açlıktan, hastalıktan, soğuktan ve insan zulmünden korumak adına önemli bir başlangıç yapabilirsiniz. Bu linkte aynı zamanda komşu, site ve hayvan hakkı ihlali yapan kişiler hakkında yapabileceklerinizle ilgili bilgilere de ulaşacaksınız. Kararlılıkla yılmadan savaşırsanız mutlaka kazanan siz olacaksınız.
                <a href="http://www.haykonfed.org/2017/11/15/16-kanunlari-ogrenmelisiniz-yasal-bilgilere-kolay-ulasmaniz-icin-4-ayri-sayfa-yapildi-sayfalari-inceleyiniz/">http://www.haykonfed.org/2017/11/15/16-kanunlari-ogrenmelisiniz-yasal-bilgilere-kolay-ulasmaniz-icin-4-ayri-sayfa-yapildi-sayfalari-inceleyiniz/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Sitemizin/Apartmanımızın bahçesindeki sahipsiz hayvanları beslememe izin vermiyorlar. Ne yapabilirim?</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="card-block">
                Sahipsiz hayvanları doyurmak, himaye etmek ve korumak size 5199 Nolu Hayvan Hakları Kanunu ile verilmiş bir hak ve yetkidir. Siz onları korumaya ve bakmaya talipseniz zaten yasa tarafından yetkilendirilmişsinizdir artık. Buna engel olan kişiler yasayı çiğneyerek suç işliyor çünkü bilmeden de olsa hem hayvan hakkı ihlali yapıyorlar hem de size psikolojik baskı uyguluyorlar. Linki tıklayarak daha detaylı bilgi alabilir yapabileceklerinizi de öğrenebilirsiniz.
                <a href="http://www.haykonfed.org/2017/11/22/17-site-apartman-universiteler-kurum-ve-kuruluslarin-besleme-yapan-gonullulere-mudahalesi-yasaya-aykiridir/">http://www.haykonfed.org/2017/11/22/17-site-apartman-universiteler-kurum-ve-kuruluslarin-besleme-yapan-gonullulere-mudahalesi-yasaya-aykiridir/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Yerel Hayvan Koruma Görevlisi olmak için belediyemize/orman bakanlığı il müdürlüğüne yaptığımız müracaatlara rağmen olumlu yanıt alamıyoruz. Ne yapmalıyız?</a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="card-block">
                İlçe belediyeleri başta olmak üzere Orman Bakanlığı İl Bölge Müdürlükleri Yerel Hayvan Koruma Görevlisi olmak isteyen gönüllüler için seminer açmak zorundadır. Bu da yine yasanın gönüllülere verdiği büyük bir haktır. 2 gün ve birkaç saat sürecek bu seminer sonunda alacağınız kart sayesinde siz artık bakanlık tarafından resmi şekilde yetkilendirilmiş olacaksınız. Savaşınız resmiyet kazanacak ve bu kart sayesinde kurumlar ve kişilerce daha fazla ciddiye alınacaksınız. Seminer düzenlemeyen, sürekli bahaneler bulan ya da erteleyen kurumları direk Bakan’a şikayet edin. Örnek dilekçe linktedir. Lütfen dilekçeyi bimer.com adlı site üzerinden göndermeye dikkat ediniz.
                <a href="https://www.haykonfed.org/2017/11/28/25-yerel-hayvan-koruma-gorevlisi-olmaniz-icin-onemli-bilgilendirme-ve-ornek-muracaat-yazisi/">https://www.haykonfed.org/2017/11/28/25-yerel-hayvan-koruma-gorevlisi-olmaniz-icin-onemli-bilgilendirme-ve-ornek-muracaat-yazisi/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Evimde baktığım kedim/köpeğim için komşularım/site yönetimi tarafından baskı altındayım. Ne yapacağımı bilemiyorum ve kedimden/köpeğimden ayrılmak istemiyorum. Yapabileceklerim nelerdir?</a>
            </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
            <div class="card-block">
                Evinizdeki sahipli hayvanınız tıpkı buzdolabınız, televizyonunuz, çamaşır makinanız vs gibi malınızdır. Nasıl ki evinizdeki eşyanızı belediye, zabıta, polis gelip alamazsa bu suç teşkil ederse sahipsiz hayvanınızı da sizin rızanız olmadan kimse alamaz. Bu konuda ancak ve ancak mahkeme kararı gereklidir. Komşularınızın belediye, zabıta ya da polis şikayetleri nafile çabadır. Linki tıklayarak çok daha detaylı ve hayati bilgilere ulaşabilirsiniz. <br />                                                                            <a href="https://www.haykonfed.org/2017/11/22/18-sahipli-hayvana-komsu-site-yonetim-kurum-zabita-muhtar-kisi-ve-resmi-kurumlardan-gelen-baski-ve-tehdit-durumunda-yapilacaklar-baski-yapanlara-gonderilecek-ornek-yazi-baskinin-devam-etmesi/">https://www.haykonfed.org/2017/11/22/18-sahipli-hayvana-komsu-site-yonetim-kurum-zabita-muhtar-kisi-ve-resmi-kurumlardan-gelen-baski-ve-tehdit-durumunda-yapilacaklar-baski-yapanlara-gonderilecek-ornek-yazi-baskinin-devam-etmesi/</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-header">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Evcil hayvanıma ne kadar mama vermeliyim?</a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="card-block">
                Evcil hayvanların mama miktarları, tıpkı bu durumun insanlarda kişiden kişiye farklı olması gibi, evcil hayvanına göre değişir. Çoğu Hill's™ evcil hayvan mamasında evcil hayvanınızı besleyecek uygun miktarı belirlemenize yardımcı olacak bir mama kılavuzu bulunur. Bununla birlikte, mama kılavuzu yalnızca bir başlangıç ??noktası olarak düşünülmüştür. Evcil hayvanınızın fiziksel durumunun düzenli olarak takip edilmesi ve mama miktarının gerektiği şekilde ayarlanması, onun sağlığı için kritik bir önem taşımaktadır.
            </div>
        </div>
    </div>


</div>
        </div>

